#bottom-shadow{
	width: 100%;
	padding-bottom: 8px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
#add-new-btn{
	width: 100%;
	font-size: 18px;
	margin-top: 3%;
	border-radius: 0;
}
#logotype{
	width: 100%;
}
#head-lang .passive{
	width: 100px;
	height: 35px;
	margin-top: 13px;
	font-size: 16px;
	border-radius: 0;
	background: white;
	border: 0;
}
#head-lang .active{
	width: 100px;
	height: 35px;
	margin-top: 13px;
	font-size: 16px;
	border-radius: 0;
	background: #66C0CE;
	border: 0;
	color: white;
}
#filter{
	margin-top: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #66C0CE;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
	-moz-box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
	box-shadow: 1px 1px 2px 0px rgba(97,97,97,1);
}
.form-control{
	border-radius: 0;
}
#enter{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.main-menu-item{
	float: left;
	width: 100%;
	min-height: 160px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	border: 1px solid silver;
}
.main-menu-item:hover{
	text-decoration: none;
	border: 1px solid #256B9E;
}
.main-menu-item img{

}
.main-menu-item h2{
	font-size: 18px;
	color: #547d9a;
	margin-top: 7px;
	margin-bottom: 0;
	text-align: center;
}
#search{
	margin-top: 5px;
}
#search input{
	float: left;
	width: 79%;
}
#search .btn{
	float: left;
	width: 20%;
	margin-left: 1%;
	margin-top: 0;
}
#search-rubriks{
	
}
#category{
	float: left;
	margin-top: 5px;
}
#category2{
	float: left;
	margin-top: 5px;
}
#search-podrubriks{
}
#categories{
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
}
#podcategories{
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
#podcategories a{
	float: left;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
}

#path{
	padding-top: 13px;
	padding-left: 42px;
	padding-right: 40px;
	font-size: 15px;
}
#path .this{
	color: black;
}
#path hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#list{
	padding-left: 40px;
	padding-right: 40px;
}
.advert{
	float: left;
	padding: 10px;
	background: #F7F7F7;
	margin-bottom: 10px;
}
.advert a{
	float: left;
	width: 100%;
}
.advert-left{
	float: left;
	width: 20%;
}
.advert-left img{
	max-width: 90%;
}
.advert-right1{
	float: left;
	width: 80%;
	padding-left: 15px;
	padding-right: 40px;
}
.advert-right1 h3{
	font-size: 23px;
	margin-top: 10px;
}
.advert-right1 p{
	font-size: 15px;
}
.advert-right1 span{
	font-size: 16px;
	color: gray;
}
.advert-right1 .btn{
	position: absolute;
	width: 160px;
	right:4%;
	bottom: 8%;
}

/* Добавить объявление */
.add-map{
	width: 95%;
	height: 350px;
	margin-left: 4%;
	border: 2px solid silver;
}
#new-ad-left h1{
	margin-left: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.star{
	color: red;
	font-weight: bold;
	font-size: 17px;
	line-height: 12px;
}
#uploads{
	padding-left: 0;
}
#uploads div{
	margin-top: 7px;
}
#add_new_num{
	float: left;
	width: 175px;
	height: 25px;
	padding-top: 2px;
	padding-left: 15px;
	background: silver;
	margin-bottom: 20px;
	border: 1px solid black;
	cursor: pointer; 
	cursor: hand;
}
.phone_input{
	height: 30px;
}
.btn-default{
	border-radius: 0;
}

#rules{
	margin-top: 95px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 10px;
	background: #DEEFF2;
}
#submit{
	width: 100%;
	margin-top: 20px;
	border-radius: 0;
	font-size: 17px;
}

#rubriks2{
	display: none;
}
.errors{
	width: 90%;
	background: #FFF0EB;
	border: 1px solid #FF8682;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 5px;
}
.error_strings{
	color: red;
	font-size: 13px;
	padding-left: 5px;
}
/* Footer */
#footer{
	margin-top: 30px;
	border-top: 1px solid silver;
}
#footer .container{
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer a{
	font-size: 15px;
	font-weight: bold;
}

/* Ad this page */
#back{
	padding-top: 20px;
	padding-right: 0;
}
#back .btn{
	border-radius: 0;
	font-size: 16px;
}
#path2{
	padding-top: 29px;
	font-size: 15px;
	padding-left: 0;
}
.narrow{
	padding-left: 5%;
	padding-right: 5%;
}
#info-nav{
	float:left;
	width:100%;
	border-bottom: 1px solid silver;
	padding-bottom:10px;
}
#info-head{

}
#info-head h1{
	margin-top: 9px;
	margin-bottom: 6px;
}
#info-head p{
	float: left;
	font-weight: bold;
}
#info-head span{
	float: left;
	margin-left: 20px;
	color: #5C5C5C;
}
#info-c2{
	text-align: center;
	border: 1px solid silver;
}
#info-c2 img{
	max-width: 100%;
	max-height: 400px;
}
#right{
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
}
#description {
	padding-top: 13px;
}
#description p{
	font-size: 16px;
}
.contacts{
	float: left;
	width: 100%;
	background: #F7F7F7;
	padding-left: 25px;
	padding-right: 25px;
}
.contacts h3{
	text-align: center;
}
.contacts p{
	margin-top: 20px;
	float: left;
	width: 100%;
}
.contacts h4{
	float: left;
	width: 100%;
	text-align: center;
}
.contacts h4 img{
	width: 24px;
	height: 24px;

}
.jaloba{
	float: left;
	width: 100%;
	padding-left: 45px;
	padding-top: 10px;
}
.jaloba a{
	float: left;
	width: 100%;
	color: red;
	margin-top: 10px;
}
#report p{
	font-size: 14px;
}
#report .daite{
	width: 100%;
	padding-left: 20%;
	padding-right: 25%;
}
#report .btn{
	border-radius: 0;
	width: 170px;
}
.pagination .active span{
	background: #66C0CE;
	border-color: #66C0CE;
}
.pagination li:last-child a, .pagination li:last-child span{
	border-radius: 0;
}
.pagination li:first-child a, .pagination li:first-child span{
	border-radius: 0;
}
#location{
	margin-top: 5px;
}
#location .btn{
	width: 100%;
	text-align: left;
}
#location .btn:hover{
	background: white;
}
#location .btn:focus{
	background: white;
}
#location .btn i{
	float: right;
}
#loc-div{
	position: absolute;
	background: white;
	width: 92%;
	padding-top: 10px;
	display: none;
	z-index: 1;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(122,122,122,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(122,122,122,1);
	box-shadow: 0px 1px 1px 0px rgba(122,122,122,1);
}
#loc-div ul{
	float: left;
	width: 100%;
	list-style: none;
	padding-left: 0;
}
#loc-div ul li{
	float: left;
	width: 100%;
	line-height: 28px;
	position:relative;
	cursor: pointer; 
	cursor: hand;
}
#loc-div ul li a{
	float: left;
	width: 100%;
	font-size: 15px;
	color: black;
	text-decoration: none;
}
#loc-div ul li:hover{
	background: #F7F7F7;
}
.loc-sec{
	/*position: absolute;
	top: 0px;
	left: 350px;*/
	float: left;
	width: 100%;
	background: white;
	display: none;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(122,122,122,1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(122,122,122,1);
	box-shadow: 0px 0px 1px 0px rgba(122,122,122,1);
}
.loc-sec ul{
	list-style: none;
	padding-left: 0;
}
.loc-sec ul li{
	font-size: 15px;
}
.loc-sec ul li a{
	float: left;
	width: 100%;
	padding-left: 8%;
}
.loc-item p{
	font-size: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 4%;
}
.loc-item i{
	float: right;
	margin-right: 5%;
}

#success-notice h2{
	font-size: 25px;
}
#success-notice h4{
	font-size: 17px;
	font-weight: normal;
}
#success-notice .href{
	font-weight: bold;
	text-decoration: none;
}
#success-notice .btn{
	border-radius: 0;
	font-size: 16px;
	width: 170px;
}
#show-map {
	float: left;
	width: 100%;
	height: 140px;
	background-size: 100% 100%;
	margin-top: 10px;
	cursor: pointer;
	cursor: hand;
}
#show-map p{
	text-align: center;
	margin-top: 54px;
	font-size: 19px;
	font-weight: bold;
}
.info-map{
	width: 100%;
	height: 400px;
}
.info-image{
	margin-top: 10px;
}
/* demo page styles */
/* main menu styles 
#nav,#nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
#nav {
    height:40px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:2;
}
#nav ul {
    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}
#nav ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}
#nav li {
    float:left;
    width: 100%;
    margin-right:5px;
    position:relative;
}
#nav li a {
    background: white;
    color:#000;
    display:block;
    float:left;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
#nav > li > a {
    overflow:hidden;
}
#nav li a.fly {
    padding-right:15px;
}
#nav ul li {
    margin:0;
}
#nav ul li a {
    width:120px;
}
#nav ul li a.fly {
    padding-right:10px;
}
*/
/*hover styles
#nav li:hover > a {
    background-color:#1E90FF;
    color:white;
}

    #nav li a:focus {
    outline-width:0;
}

#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {
    left:0;
}
#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {
    left:120px;
}*/

#main-text{
	margin-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
}
#main-text p{
	font-size: 15px;
}
#main-text h1{
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
}
#social_nets .col-md-3{
	height: 3em;
}