#login{
	margin-top: 200px;
}
.error{
	border: 1px solid red;
	border-radius: 5px;
	width: 40%;
	margin: 0 auto;
}
.error p{
	text-align: center;
	padding-top: 10px;
}
#list{
	padding-left: 40px;
	padding-right: 40px;
}
.advert{
	float: left;
	padding: 10px;
	background: #F7F7F7;
	margin-bottom: 10px;
}
.advert a{
	float: left;
	width: 100%;
}
.advert-left{
	float: left;
	width: 20%;
}
.advert-left img{
	max-width: 90%;
}
.advert-right1{
	float: left;
	width: 80%;
	height: 100%;
	padding-left: 15px;
	padding-right: 40px;
}
.advert-right1 h3{
	font-size: 23px;
	margin-top: 10px;
}
.advert-right1 p{
	font-size: 15px;
}
.advert-right1 span{
	font-size: 16px;
	color: gray;
}
.advert-right1 .btn{
	position: absolute;
	width: 160px;
	right:4%;
	bottom: 8%;
}

#report-table{
	width: 100%;
}
#report-table .rep-id{
	width: 5%;
}
#report-table .rep-email{
	width: 15%;
}
#report-table .rep-desc{
	width: 60%;
}
#report-table .rep-data{
	width: 20%;
}
#report-table .rep-del{
	width: 5%;
}
#report-table .rep-del a{
	color: red;
}
#rep-first{
	border-bottom: 2px solid black;
	height: 40px;
}
.rep-item{
	border-bottom: 1px solid silver;
}